

#ProfilePicture{
width: 18em;
height: 18em;
vertical-align: middle;
}

#projpics {
	height: 100%;
	width: 100%;
}

#thingsILikePics{
	height: 100% ;
	width: 100% ;
}

.btn {
top:650px; left:550px;
}

.fa {
width: 30%;
height: 30%;
}


#socialButtons {
  text-align: center;
  vertical-align: middle;
}

#underConstructionPic {
  position: center;
}


.navbar-fixed-bottom {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0px;
  margin: 0;
  padding: 10px 10px 10px;
  height: 100px;
  background-color: #white;
}

.clearfix {
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  left: 0px;
  margin: 0;
  padding: 10px 10px 10px;
  height: 100px;
  background-color: white;
}

.h4{
  font-size: 500%;
  color:;
}
